<div class="row">
  <div class="ten columns">&nbsp;</div>
  <div class="two columns" style="padding-top:15px"><a href="/rpush_web/push_notifications/new" class="button button-primary">Add new</a></div>
</div>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Title</th>
      <th>Platform</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><a class="button"><i class="fa fa-<%= item.platform.eql?(1) ? 'apple' : 'android' %>"></i><%= item.platform_name %></a></td>
        <td><%=l item.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>